{% extends 'layout.html'%}

{% block body %}
  <div>
    <h1 style="text-align: center">Welcome to my Flask Weather App</h1>
    <p style="text-align: center">This is a simple application built on the Python Flask Framework to check the current weather in a few cities in Europe</p>
    <p style="text-align: center">I used the OpenWeatherMap API to get the data in real time</p>
    <p style="text-align: center">I integrated forms in this app to let the user enter any city to get weather info for</p>
  </div>
{% endblock %}